.Create {
  width: 559px;
  padding: 10px;
  background-color: white;
  left: 20px;
  top: 150px;
}
.Create > title {
  display: inline;
  width: 100%;
  top: 50px;
}
.form {
  display: inline-block;
}
.form > input {
  display: block;
  margin-top: 10px;
  width: 300px;
}
.select {
  display: block;
  width: 300px;
}
